div,
input,
textarea {
    box-sizing: border-box;
}

body {
    margin: 0px;
    /* 폰트 적용 */
    font-family: '예쁜 폰트';
    font-weight: 800;
}

/* 폰트 불러오기 */
@font-face {
    font-family: '예쁜 폰트';
    src: url(../font/NanumSquareL.woff);


}

html {
    line-height: 1.15;
}

.main-background {
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 1px;

}

.main-title {
    color: antiquewhite;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;

}

.main-subject {
    color: navajowhite;
    font-size: 30px;
    margin-top: 1px;
    text-align: center;


}

.header {
    height: 100px;
    width: auto;
    border: 1px solid;
    margin: 1 auto;
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
}

.section {
    height: 100%;
    width: 100%;
    font-size: 0px;
}

.section .logo {
    width: 6%;
    display: inline-block;
    height: 100%;
    font-size: 36px;
    line-height: 2.8;
    margin-left: 20px;
    vertical-align: top;
}

.section .nav {
    font-size: 0;
    width: 87%;
    height: 100%;
    text-align: center;
    display: inline-block;

}

.section .nav ul li {
    font-size: 16px;
    line-height: 6.5;
    margin: 0 50px;
    display: inline-block;
}

.main-button {
    position: relative;
    left: 200px;
    top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: white;
    font-size: 18px;
    z-index: 5;
}

.main-button2 {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    position: relative;
    bottom: -50px;
    max-width: 600px;
    min-width: 400px;
    box-sizing: border-box;

}

.form-input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-background {
    background-color: black;
    padding: 30px;

}

.form-white {
    background-color: antiquewhite;
    padding: 25px;
    width: 80%;
    max-width: 600px;
    margin: auto;

}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;

}

.w-51 {
    width: 50%;
    float: right;
    padding: 10px;

}

.w-100 {
    padding: 10px;
    width: 100%;

}

.yellow-button {
    background-color: rgba(255, 255, 0, 0.455);
    float: right;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
    border-color: brown;
    border-radius: 5px;

}

.flex-item {

    width: 100px;
    height: 100px;
    background-color: coral;
    margin: 3px;
}

.flex-container {
    /* 플렉스박스 */
    display: flex;

    /* 가로 셀 정렬*/
    /* flex-direction: row; */
    /* 세로 셀 정렬*/
    flex-direction: column;
    /* 내용상하정렬 */
    align-items: center;
    /* 내용좌우정렬 */
    justify-content: center;
}

.flex-head {
    background-color: coral;
    height: 50px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
     margin-right: 5px;
}


.test {
    /* 반응형 사이즈 */
    width: 1vw;
    height: 1vh;
    background: grey;
    /* em-내 폰트사이즈에 비례 */
    /* width: 1rem 폰트사이즈에 비례-타이포 그래피,폰트가 덜 깨짐 */
}

/* 반응형 웹 */
@media screen and (max-width: 1200px) {
    .main title {
        font-size: 20px;
    }

}

@media screen and (max-width: 700px) {
    .main title {
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    .main title {
        font-size: 20px;
    }
}
